h1{
  font-size: 24px;
  font-weight: 900;
  color: #fcfcfc;
}
small{
  color: #606060;
}
body {
  font-family: sans-serif;
  background: #606060;
  margin: 0;
  padding: 20px;
  color: #fcfcfc;
}
.drop-zone {
  border-radius: 4px;
  border: 2px dashed #fcfcfc;
  padding: 60px;
  text-align: center;
  background: #606060;
  margin-bottom: 20px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}
.image-box {
  background: #fff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  width: 300px;
}
canvas {
  max-width: 100%;
}
.bar {
  display: flex;
  height: 20px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
}
.bar-segment {
  height: 100%;
}

.filename{
  font-weight: 700;
  color: #ed8932;
}

.color_name{
  font-family: 'Courier New', Courier, monospace;
  color: #444;
}